---
import Social from "./Social.astro";
---

<footer>
    <p>
        <Social platform="linkedin" username="in/johnson-nguyen-b0053396" />
        <Social platform="github" username="nguyen34" />
    </p>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
